<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Standard Version -->
  <?define AppVersion    = "0.0.1.1" ?>
  <?define AppName       = "Automation Font Installer"?>
  <?define InstallDir    = "Font Installer"?>
  <?define ProductGUID   = "C15636FD-9BD1-418F-AC18-F16A8EDC7D09"?>
  <?define UpgradeGUID   = "99B3F838-4094-4B29-AE19-9DAF03A22153" ?>

  <Product Name='$(var.AppName) ($(var.AppVersion))' Id='$(var.ProductGUID)'
      UpgradeCode='$(var.UpgradeGUID)' Language='1033' Codepage='1254' Version='$(var.AppVersion)'
      Manufacturer='Tecnologer'>

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="ApplicationFiles"/>
    </Feature>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Example">
          <Component Id="ApplicationFiles" Guid="16F0D9A7-B0B3-4BB8-815F-EBBC621768DB">
            <File Id="FontInstaller" Source="..\FontInstaller\bin\Release\FontInstaller.exe"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>    
  </Product>
</Wix>
